<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.brainheap.android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:name=".BrainheapApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Brain Heap"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.BrainHeap"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".ui.wordsupload.WordsUploadActivity"
                android:label="@string/process_text_action_name"
                android:launchMode="singleTop"
                android:theme="@style/WordsTransparent">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.brainheap.android" android:host="oauthresponse" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <data android:scheme="com.brainheap.android" android:host="oauthresponse"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.wordseditupload.WordsEditUploadActivity"
                  android:label="@string/process_text_action_name"
                  android:launchMode="singleTop"
                  android:theme="@style/WordsTransparent"/>
        <activity android:name=".ui.login.WebLoginActivity"/>
    </application>
</manifest>